body {
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    display: flex;
    justify-content: center;
    background-color: #101811;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a { 
    cursor: url('./images/mjölnir.png'), auto;
    text-decoration: none;
    color: #D9D8DE;
}

button {
    cursor: url('./images/mjölnir.png'), auto; /*inspired by NoPunIntended69 on Pixilart*/
    border-radius: 8px;
    padding: 4px 16px;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 16px;
}

.body { 
    width: 1248px;
    display: flex;
    flex-direction: column;
    
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 4px solid #4B8653;
    border-bottom: 0px;
    border-top: 0px;
}

.header { 
    color: #D9D8DE;
    background-color: #27452B;
    font-size: 18px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
    border: 4px solid #4B8653;
    border-radius: 25px 25px 0px 0px;
    border-bottom: 0px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.links { 
    display: flex;
    gap: 32px;
}

.one {
    color: #C0BFC9;
    background-color: #27452B;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 0px 200px;
    height: 320px;
    align-items: center;
    
}

.one .container {
    width: 528px;
}

.one button  {
    color: #D9D8DE;
    background-color: #4B8653;
    border: 1px #4B8653;
}

.one .tree {
    width: 320px;
    display: flex;
    justify-content: center;
}

.one img {
    border: 4px solid #4B8653;
    border-radius: 25px;
    height: 256px;
}

.one .head-text {
    font-size: 48px;
    font-weight: 900;
    color: #D9D8DE;
}

.one .text {
    padding: 8px 0px;
}

.two {
    color: #271A2E;
    background-color: #B4D5B8;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    height: 368px;
}

.title {
    color: #271A2E;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.two .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info img {
    border: 4px solid #4B8653;
    border-radius: 25px;
}

.three {
    color: #271A2E;
    background-color: #839584; /* #ACB4A7 */
    font-size: 36px;
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    height: 320px;
    justify-content: center;
    align-items: center;
}

.three .text {
    font-size: 24px;
    font-weight: 900;
}

.four {
    background-color: #B4D5B8;
    display: flex;
    padding: 0px 200px;
    height: 272px;
    align-items: center;
}

.modal { 
    color: #C0BFC9;
    background-color: #4B8653;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    height: 148px;
    align-items: center;
    width: 848px;
    justify-content: space-between;
    padding: 0px 48px;
    
}

.modal .info {
    display: flex;
    flex-flow: row wrap;
    width: 640px;
    
}

.modal .head-text {
    color: #D9D8DE;
    font-size: 24px;
    font-weight: 900;
    
    
}

.sign-up {
    color: #D9D8DE;
    background-color: #4B8653;
    border: 2px solid #D9D8DE;
    
}

.footer {
    color: #BFC9C0;
    background-color: #27452B;
    display: flex;
    height: 64px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border: 4px solid #4B8653;
    border-radius: 0px 0px 25px 25px;
    border-top: 0px;
}