body {
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a { 
    cursor: url('./images/mjölnir.png'), auto;
    text-decoration: none;
    color: #D9D8DE;
}

button {
    cursor: url('./images/mjölnir.png'), auto; /*inspired by NoPunIntended69 on Pixilart*/
    border-radius: 8px;
    padding: 4px 16px;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 16px;
}

.header { 
    color: #D9D8DE;
    background-color: #27452B;
    font-size: 18px;
    display: flex;

}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.links { 
    display: flex;
}

.one {
    color: #C0BFC9;
    background-color: #27452B;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}



.one button  {
    color: #D9D8DE;
    background-color: #4B8653;
    border: 1px #4B8653;
}

.one img {
    border: 4px solid #4B8653;
    border-radius: 25px;
    height: 256px;
}

.one .head-text {
    font-size: 48px;
    font-weight: 900;
    color: #D9D8DE;
}

.two {
    color: #271A2E;
    background-color: #C3C9C0;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.title {
    color: #271A2E;
    font-size: 40px;
    font-weight: 900;
}

.two .container {
    display: flex;
}

.info img {
    border: 4px solid #4B8653;
    border-radius: 25px;
}

.three {
    color: #271A2E;
    background-color: #AFA7B4; /* #ACB4A7 */
    font-size: 36px;
    display: flex;
    flex-direction: column;
}

.three .text {
    font-size: 24px;
    font-weight: 900;
}

.four {
    background-color: #C3C9C0;
    display: flex;

}

.modal { 
    color: #C0BFC9;
    background-color: #4B8653;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
}

.modal .head-text {
    color: #D9D8DE;
    font-size: 24px;
    font-weight: 900;
}

.modal button {
    color: #D9D8DE;
    background-color: #4B8653;
    border: 2px solid #D9D8DE;

}

.footer {
    color: #BFC9C0;
    background-color: #27452B;
}